.itemInfo {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  width: 450px;
  height: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);

  .itemInfoCloseButton {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-small);
    background-color: var(--color-light-gray);
    font-size: 32px;
    color: black;

    transition:
      background-color var(--transition-duration),
      color var(--transition-duration);

    &:hover {
      background-color: black;
      color: white;
    }
  }

  .itemInfoCloseIcon {
    font-size: 32px;
  }

  &ShopName {
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 10px;
  }

  &Details {
    margin-top: 20px;
    font-size: 20px;

    &Title {
      font-size: 24px;
    }
    &Row {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
    }

    &Color,
    &Price,
    &Size {
      display: flex;

      li {
        margin-right: 5px;
      }
    }

    &Size {
      li {
        padding: 4px;
        border-radius: 4px;
        background-color: #ccc;
      }
    }
  }
}

.itemInfoSwiper {
  width: 360px;
  height: 360px;
  margin-bottom: 20px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

.itemInfoSwiperThumbs {
  .swiper-slide {
    width: 25%;
    opacity: 0.4;

    &.swiper-slide-thumb-active {
      opacity: 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
